$white: #ffffff;

$panel-header-height: 32px;
$panel-bg: "http://file.toyhou.se/images/4689806_NJqjvHCQ4g0nHKb.png";

$info-icon: "http://file.toyhou.se/images/4700238_VYPfWBj7iZDQEG0.png";
$overview-icon: "https://gitlab.com/beelzy/DiasporicCrypt/raw/master/gui/menu/tabs/map.png";
$appearance-icon: "https://gitlab.com/beelzy/DiasporicCrypt/raw/master/gui/menu/tabs/friederich.png";
$history-icon: "https://gitlab.com/beelzy/DiasporicCrypt/raw/master/gui/menu/icons/scroll.png";
$skills-icon: "https://gitlab.com/beelzy/DiasporicCrypt/raw/master/gui/menu/icons/magic.png";
$concept-icon: "https://gitlab.com/beelzy/DiasporicCrypt/raw/master/gui/menu/tabs/settings.png";
$trivia-icon: "https://gitlab.com/beelzy/DiasporicCrypt/raw/master/gui/menu/icons/special.png";
