<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://toyhou.se/css/site_night.css">
		<% if (withCss) { %><link rel="stylesheet" href="../main.css"><% } %>
	</head>
	<body>
		<div class="fr-view user-content">
			<%- html %>
		</div>
	</body>
</html>
